@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 overflow-x: hidden;
 font-family: 'Bahij';
 
}


.cover-image{
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 92%, 0 100%, 0 0);
}

.rtl {
  background-color: aqua;
  direction: rtl;
}

.ltr {
  background-color: brown;
  direction: ltr;
}


@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/Bahij_TheSansArabic-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/Bahij_TheSansArabic-SemiLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/Bahij_TheSansArabic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Bahij_TheSansArabic-Plain.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/Bahij\ Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/Bahij Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/Bahij_TheSansArabic-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bahij';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/Bahij_TheSansArabic-Black 10.ttf') format('truetype');
}



.arabicfont{

  font-family: 'Bahij';


}


  
@font-face {
  font-family:DroidSansMono;
  src:url('../public/fonts/newfont.ttf');
  }






  .englishfont {
    
  font-family: 'Bahij';
    /* height:100%;

    padding:0px;
    margin:0px;
    font:12px/33px DroidSansMono; */

    }







/* ----------------- */


/* utility classes */
.container {
  @apply max-w-[1300px] mx-auto py-0 px-[25px] tab:px-[15px];
}

.navlink {
  @apply text-gray-100 font-medium text-sm lg-1150:text-base active:text-blue-100 hover:text-blue-100 transition-all duration-300;
}

.footer_navlink {
  @apply text-sm transition-all duration-300 text-white font-normal hover:text-[hsla(0,0%,100%,.5)]
}

.gradient {
  background: linear-gradient(1turn, #7344fc, #1127E3);
}

.span_gradient {
  background: linear-gradient(180deg, #1127E3, #7344fc);
}

.header {
  @apply top-20
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed_center {
  position: fixed;
}

.isOpen {
  @apply block
}

.disable-scroll {
  overflow: hidden;
}

.features_grid {
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

/* swiper js styles */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(0,0,0,.1);
}

.box-shadow-two {
  box-shadow: 0 4px 20px rgba(0,0,0,.08);
}

.pricing-list li {
  @apply flex text-left font-normal text-base leading-[18px] items-start justify-start mb-[22px] gap-[18px]
}

.scale-image:hover img {
  transform: scale(1.05);
  transition: all .8s ease-in;
  cursor: pointer;
}

.case-study-card {
  -webkit-filter: drop-shadow(0 4px 25px rgba(0,0,0,.1))!important
}

.pre-buillt-features-container {
  /* @apply grid-cols-6 grid gap-[20px] */
  display: grid;
  content: "";
  grid-template-columns: 6, 1fr;
  grid-auto-rows: 144px;
}


/* ----------- Animation Text title Shimmer */


.shimmer {
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4)
  );
  background: -moz-gradient(
      linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4)
  );
  background: gradient(
      linear,
      left top,
      right top,
      from(#ad832d),
      to(#ad832d),
      color-stop(0.3, #fffba4)
  );
  -webkit-background-size: 70px 100%;
  -moz-background-size: 70px 100%;
  background-size: 70px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #ad832d;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }

  100% {
      background-position: top right;
  }
}



/* -----------------------------PROFILE-------------- */

.cover{
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 80%, 49% 91%, 0 80%);
}

@layer components {



  body {
    overflow-x: hidden;
  }

  .coverbg{
    @apply bg-[#1F2544]
  }

.textColor{
  @apply   !text-[#1F2544]
}

.borderColor{
  @apply   !border-[#1F2544] border-2
}

  .mainTextColor{
    @apply text-[#F6ECA9]
  }

  .mainBgColor{
    @apply bg-[#F6ECA9]
  }




.container{
  @apply px-12
}

  .layoutContainer {
    @apply py-1 w-full md:py-1 px-4 md:px-24  !min-h-screen;
  }
  /* bg-[#1F2544] */
  .contentContainer {
    @apply  !min-h-screen !w-full  pb-0 mb-12 rounded shadow     ;
  }


  .pageName {
    @apply font-semibold text-2xl;
  }

.iconLayout{
  @apply w-1/3 md:w-1/5
}

  .iconsMain {
    /* text-white */
    @apply  w-[30%] md:w-1/6 text-center  text-[11px] md:text-lg  font-semibold
  }


  .iconCircle{
    /* border-[#F6ECA9] */
    @apply p-[25px]  text-center mx-auto my-2 w-[50px] h-[50px]  md:p-9 rounded-full border-2 hover:scale-125 transition-all duration-200   relative

  }


  .telbtn{
    /* text-[#1F2544]   bg-white    */
@apply text-center  text-[14px] md:text-3xl  font-semibold rounded-md border hover:scale-125 transition-all duration-300  ring-black   mx-auto w-[70%] md:w-[40%]   py-4


  }


  .placeholdertext{

    @apply placeholder-[#1F2544]    rounded-md placeholder:pl-4
  }



}